PORT=3000
NODE_ENV=development
DATABASE=mongodb+srv://YOUR_USERNAME:<db_password>@YOUR_CLUSTER.mongodb.net/pickup-logistics?retryWrites=true&w=majority
DATABASE_PASSWORD=YOUR_REAL_PASSWORD


RESEND_API_KEY=your-api-key
RESEND_FROM_EMAIL=onboarding@your-domain.com