PORT=3000
NODE_ENV=development
DATABASE=mongodb+srv://YOUR_USERNAME:<db_password>@YOUR_CLUSTER.mongodb.net/pickup-logistics?retryWrites=true&w=majority
DATABASE_PASSWORD=YOUR_REAL_PASSWORD


RESEND_API_KEY=your-api-key
RESEND_FROM_EMAIL=onboarding@your-domain.com
JWT_SECRET=replace-with-a-strong-secret
JWT_EXPIRES_IN=1d
JWT_COOKIE_EXPIRES_IN=10
OTP_EXPIRES_IN=300


REDIS_URL=YOUR_URL
REDIS_HOST=YOUR_HOST
REDIS_PORT=YOUR_PORT
REDIS_PASSWORD=YOUR_REDIS_PASSWORD

