{
  "openapi": "3.0.0",
  "info": {
    "title": "PickUp Logistics API",
    "version": "1.0.0",
    "description": "API documentation for PickUp Logistics backend"
  },
  "servers": [
    {
      "url": "https://pickup.archsaintnexus.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local server"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and API documentation endpoints"
    },
    {
      "name": "Authentication",
      "description": "User authentication and authorization endpoints"
    },
    {
      "name": "User Profile",
      "description": "User profile management endpoints"
    },
    {
      "name": "Address",
      "description": "Address management endpoints"
    },
    {
      "name": "Shipments",
      "description": "Shipment management endpoints"
    },
    {
      "name": "Invoices",
      "description": "Invoice generation and download endpoints"
    },
    {
      "name": "Payments",
      "description": "Payment initiation, status updates, and receipt uploads"
    },
    {
      "name": "Drivers",
      "description": "Driver onboarding, profile management, and performance metrics"
    },
    {
      "name": "Vehicles",
      "description": "Vehicle management for drivers"
    },
    {
      "name": "Admin",
      "description": "Admin-only endpoints for system management"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check endpoint",
        "description": "Returns the health status of the API server",
        "responses": {
          "200": {
            "description": "API server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-01T00:00:00.000Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-docs": {
      "get": {
        "tags": ["Health"],
        "summary": "Swagger UI documentation",
        "description": "Returns the Swagger UI for API documentation",
        "responses": {
          "200": {
            "description": "Swagger UI documentation page"
          }
        }
      }
    },
    "/api/v1/users/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register a new user",
        "description": "Creates a new user account and sends OTP to email for verification. If role is 'business', companyName and companyAddress are required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["fullName", "email", "password", "confirmPassword", "phoneNumber", "role"],
                "properties": {
                  "fullName": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 30,
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{8,30}$",
                    "example": "SecurePass123",
                    "description": "Password must be 8-30 characters and contain only letters and numbers"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "SecurePass123"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Required when role is 'business'",
                    "example": "ABC Logistics Ltd"
                  },
                  "companyAddress": {
                    "type": "object",
                    "description": "Required when role is 'business'",
                    "properties": {
                      "street": {
                        "type": "string",
                        "example": "123 Business Street"
                      },
                      "city": {
                        "type": "string",
                        "example": "Lagos"
                      },
                      "state": {
                        "type": "string",
                        "example": "Lagos State"
                      },
                      "country": {
                        "type": "string",
                        "example": "Nigeria"
                      }
                    }
                  },
                  "phoneNumber": {
                    "type": "string",
                    "pattern": "^\\+[1-9][0-9]{6,14}$",
                    "example": "+1237144774545"
                  },
                  "phoneNumber2": {
                    "type": "string",
                    "pattern": "^\\+[1-9][0-9]{6,14}$",
                    "example": "+1988989874451"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["customer", "business", "admin", "driver"],
                    "default": "customer",
                    "example": "customer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully. OTP sent to email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "An OTP has been sent to your email."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - User already exists, passwords don't match, or invalid input"
          }
        }
      }
    },
    "/api/v1/users/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login user",
        "description": "Authenticates a user and returns JWT token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "pattern": "^[a-zA-Z0-9]{8,30}$",
                    "example": "SecurePass123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Login Successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials"
          },
          "401": {
            "description": "Invalid email/password or account not verified"
          },
          "404": {
            "description": "User does not exist"
          }
        }
      }
    },
    "/api/v1/users/auth/verifyOtp": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Verify user OTP",
        "description": "Verifies the OTP sent to user's email during registration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "otp"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "maxLength": 6,
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully. User account activated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Your Email has been verified successfully.."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User already verified"
          },
          "401": {
            "description": "Invalid or expired OTP"
          },
          "404": {
            "description": "User does not exist"
          }
        }
      }
    },
    "/api/v1/users/auth/resendOtp": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Resend OTP",
        "description": "Resends OTP to user's email for account verification",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP resent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "OTP resent to your email."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "User already verified"
          },
          "404": {
            "description": "User does not exist"
          }
        }
      }
    },
    "/api/v1/users/auth/forgotPassword": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Forgot password",
        "description": "Sends password reset link to user's email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "john@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset link sent to email",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Reset Password Link sent to your email"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Email is required"
          },
          "404": {
            "description": "User does not exist"
          },
          "500": {
            "description": "Error sending reset email"
          }
        }
      }
    },
    "/api/v1/users/auth/resetPassword/{token}": {
      "patch": {
        "tags": ["Authentication"],
        "summary": "Reset password",
        "description": "Resets user password using the token from email. Token expires in 10 minutes.",
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Password reset token from email"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password", "confirmPassword"],
                "properties": {
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{8,30}$",
                    "example": "NewSecurePass123",
                    "description": "Password must be 8-30 characters and contain only letters and numbers"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "NewSecurePass123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Password Reset Successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired token, or passwords don't match"
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": ["User Profile"],
        "summary": "Get current user profile",
        "description": "Returns the authenticated user's profile information",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing token"
          }
        }
      },
      "patch": {
        "tags": ["User Profile"],
        "summary": "Update user profile",
        "description": "Updates the authenticated user's profile information. companyName and companyAddress can only be updated by users with 'business' role.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 30,
                    "example": "John Doe Updated"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "Only allowed for users with 'business' role",
                    "example": "New Company Name Ltd"
                  },
                  "companyAddress": {
                    "type": "string",
                    "description": "Only allowed for users with 'business' role",
                    "example": "456 New Business Road, City, Country"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "User Profile Updated"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Cannot update company fields without business role"
          }
        }
      }
    },
    "/api/v1/users/updatePassword": {
      "patch": {
        "tags": ["User Profile"],
        "summary": "Update user password",
        "description": "Updates the authenticated user's password",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currentPassword", "password", "confirmPassword"],
                "properties": {
                  "currentPassword": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{8,30}$",
                    "example": "OldSecurePass123"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{8,30}$",
                    "example": "NewSecurePass456",
                    "description": "Password must be 8-30 characters and contain only letters and numbers"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "NewSecurePass456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Password Updated Successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                        },
                        "user": {
                          "$ref": "#/components/schemas/User"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - Passwords don't match"
          },
          "403": {
            "description": "Incorrect current password"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/users/logout": {
      "post": {
        "tags": ["User Profile"],
        "summary": "Logout user",
        "description": "Logs out the authenticated user by clearing the JWT cookie",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Logged out Successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/users/deleteAccount": {
      "patch": {
        "tags": ["User Profile"],
        "summary": "Delete user account",
        "description": "Deactivates the authenticated user's account (soft delete)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["password"],
                "properties": {
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{8,30}$",
                    "example": "SecurePass123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "User Account deleted Successfully"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Incorrect password"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/address": {
      "get": {
        "tags": ["Address"],
        "summary": "Get all addresses",
        "description": "Returns all addresses for the authenticated user, sorted by default address first. Maximum 3 addresses per user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Addresses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "total": {
                      "type": "integer",
                      "example": 3
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "addresses": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Address"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No addresses found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Address"],
        "summary": "Create new address",
        "description": "Creates a new address for the authenticated user. Maximum 3 addresses allowed per user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["street", "city", "state"],
                "properties": {
                  "street": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 120,
                    "example": "123 Business Street"
                  },
                  "city": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "example": "Lagos"
                  },
                  "state": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "example": "Lagos State"
                  },
                  "label": {
                    "type": "string",
                    "enum": ["home", "work", "others"],
                    "default": "home",
                    "minLength": 2,
                    "maxLength": 40,
                    "example": "home"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 100,
                    "default": "Nigeria",
                    "example": "Nigeria"
                  },
                  "postalCode": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9 ]+$",
                    "example": "100001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Address created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "You Address has been saved Successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "$ref": "#/components/schemas/Address"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Maximum 3 addresses allowed per user"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/address/{addressId}": {
      "patch": {
        "tags": ["Address"],
        "summary": "Update address",
        "description": "Updates an existing address for the authenticated user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "street": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 120,
                    "example": "456 Updated Street"
                  },
                  "city": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "example": "Victoria Island"
                  },
                  "state": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 60,
                    "example": "Lagos State"
                  },
                  "label": {
                    "type": "string",
                    "enum": ["home", "work", "others"],
                    "minLength": 2,
                    "maxLength": 40,
                    "example": "work"
                  },
                  "country": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 100,
                    "default": "Nigeria",
                    "example": "Nigeria"
                  },
                  "postalCode": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9 ]+$",
                    "example": "101233"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Address Updated Successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "$ref": "#/components/schemas/Address"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Address not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "tags": ["Address"],
        "summary": "Delete address",
        "description": "Deletes an address for the authenticated user. Cannot delete the only address.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Address deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Address Deleted Successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the only address"
          },
          "404": {
            "description": "Address not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/address/{addressId}/set-default": {
      "patch": {
        "tags": ["Address"],
        "summary": "Set default address",
        "description": "Sets an address as the default address for the authenticated user. Only one default address allowed per user.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "addressId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Address ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Default address updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Default address updated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Address not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/shipments/pickups/estimate": {
      "post": {
        "summary": "Estimate pickup price",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["packageType", "weight"],
                "properties": {
                  "packageType": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80,
                    "example": "parcel",
                    "description": "Package type (document, parcel, fragile, electronics, bulk)"
                  },
                  "weight": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000,
                    "example": 5,
                    "description": "Weight in kg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price estimate returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "estimatesPrice": {
                          "type": "number",
                          "example": 5175
                        },
                        "currency": {
                          "type": "string",
                          "example": "NGN"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/shipments/pickups": {
      "post": {
        "summary": "Create a single pickup",
        "description": "Creates a new shipment pickup. Customers can only have one active pickup at a time. Drivers cannot create pickups.",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["pickupAddress", "dropoffAddress", "packageType", "weight", "vehicleType", "recipientName", "recipientPhone", "pickupDate", "timeWindow"],
                "properties": {
                  "pickupAddress": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 200,
                    "example": "123 Pickup Street, Lagos"
                  },
                  "dropoffAddress": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 200,
                    "example": "456 Delivery Avenue, Abuja"
                  },
                  "packageType": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80,
                    "example": "parcel"
                  },
                  "weight": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1000,
                    "example": 5
                  },
                  "vehicleType": {
                    "type": "string",
                    "enum": ["motorcycle", "car", "van", "truck"],
                    "example": "car"
                  },
                  "recipientName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100,
                    "example": "Jane Doe"
                  },
                  "recipientPhone": {
                    "type": "string",
                    "minLength": 7,
                    "maxLength": 20,
                    "example": "+2348012345678"
                  },
                  "pickupDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-05-01T10:00:00.000Z",
                    "description": "Must be a future date"
                  },
                  "timeWindow": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50,
                    "example": "9:00 AM - 12:00 PM"
                  },
                  "quantity": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1,
                    "example": 1
                  },
                  "specialInstructions": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Handle with care"
                  },
                  "currency": {
                    "type": "string",
                    "maxLength": 3,
                    "example": "NGN"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pickup created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "shipment": {
                          "$ref": "#/components/schemas/Shipment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Drivers cannot create pickups"
          },
          "409": {
            "description": "Customer already has an active pickup"
          }
        }
      }
    },
    "/api/v1/shipments/pickups/bulk": {
      "post": {
        "summary": "Create bulk pickups",
        "description": "Creates multiple shipment pickups at once. Only available to business and admin accounts.",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["pickups"],
                "properties": {
                  "pickups": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "required": ["pickupAddress", "dropoffAddress", "packageType", "weight", "vehicleType", "recipientName", "recipientPhone", "pickupDate", "timeWindow"],
                      "properties": {
                        "pickupAddress": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 200,
                          "example": "123 Pickup Street, Lagos"
                        },
                        "dropoffAddress": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 200,
                          "example": "456 Delivery Avenue, Abuja"
                        },
                        "packageType": {
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 80,
                          "example": "parcel"
                        },
                        "weight": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 1000,
                          "example": 5
                        },
                        "vehicleType": {
                          "type": "string",
                          "enum": ["motorcycle", "car", "van", "truck"],
                          "example": "car"
                        },
                        "recipientName": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100,
                          "example": "Jane Doe"
                        },
                        "recipientPhone": {
                          "type": "string",
                          "minLength": 7,
                          "maxLength": 20,
                          "example": "+2348012345678"
                        },
                        "pickupDate": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-05-01T10:00:00.000Z"
                        },
                        "timeWindow": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 50,
                          "example": "9:00 AM - 12:00 PM"
                        },
                        "quantity": {
                          "type": "integer",
                          "minimum": 1,
                          "default": 1,
                          "example": 1
                        },
                        "specialInstructions": {
                          "type": "string",
                          "maxLength": 500,
                          "example": "Handle with care"
                        },
                        "currency": {
                          "type": "string",
                          "maxLength": 3,
                          "example": "NGN"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk pickups created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "shipments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Shipment"
                          }
                        },
                        "totalPrice": {
                          "type": "number",
                          "example": 15525
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Only business and admin accounts"
          }
        }
      }
    },
    "/api/v1/shipments/history/{userId}": {
      "get": {
        "summary": "Get shipment history for a user",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["PENDING", "ASSIGNED", "PICKED_UP", "IN_TRANSIT", "DELIVERED", "CANCELLED"]
            },
            "description": "Filter by shipment status"
          },
          {
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter shipments from date"
          },
          {
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter shipments to date"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 50
                        },
                        "page": {
                          "type": "integer",
                          "example": 1
                        },
                        "limit": {
                          "type": "integer",
                          "example": 10
                        },
                        "shipments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Shipment"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/shipments/stats/{userId}": {
      "get": {
        "summary": "Get shipment stats for a user",
        "description": "Returns aggregated shipment counts (total, active, delivered, cancelled) for a given user.",
        "tags": ["Shipments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": { "type": "string" },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Stats retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "stats": {
                          "type": "object",
                          "properties": {
                            "total": { "type": "integer", "example": 15 },
                            "active": { "type": "integer", "example": 3 },
                            "delivered": { "type": "integer", "example": 10 },
                            "cancelled": { "type": "integer", "example": 2 }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/v1/shipments/{shipmentId}/cancel": {
      "patch": {
        "summary": "Cancel a shipment",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reason"],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 200,
                    "example": "Customer changed mind"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Shipment cancelled successfully"
          },
          "400": {
            "description": "Shipment cannot be cancelled"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/api/v1/shipments/{shipmentId}/invoice": {
      "get": {
        "summary": "Generate invoice for a shipment",
        "deprecated": true,
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice generated successfully"
          }
        }
      }
    },
    "/api/v1/shipments/{shipmentId}/assign": {
      "post": {
        "summary": "Assign a driver to a shipment",
        "description": "Assigns a driver to a PENDING shipment. Transitions status to ASSIGNED. Admin only.",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["driverId"],
                "properties": {
                  "driverId": {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{24}$",
                    "example": "507f1f77bcf86cd799439011"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Driver assigned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Driver assigned successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "shipment": {
                          "$ref": "#/components/schemas/Shipment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Only PENDING shipments can be assigned / User is not a driver"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Admin access required"
          },
          "404": {
            "description": "Shipment or driver not found"
          }
        }
      }
    },
    "/api/v1/shipments/{shipmentId}/pickup": {
      "post": {
        "summary": "Mark shipment as picked up",
        "description": "Transitions shipment status from ASSIGNED to PICKED_UP. Driver or admin only.",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment picked up successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Shipment picked up successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "shipment": {
                          "$ref": "#/components/schemas/Shipment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status transition"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Driver or admin access required"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/api/v1/shipments/{shipmentId}/transit": {
      "post": {
        "summary": "Mark shipment as in transit",
        "description": "Transitions shipment status from PICKED_UP to IN_TRANSIT. Driver or admin only.",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment is in transit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Shipment is in transit"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "shipment": {
                          "$ref": "#/components/schemas/Shipment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status transition"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Driver or admin access required"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/api/v1/shipments/{shipmentId}/deliver": {
      "post": {
        "summary": "Mark shipment as delivered",
        "description": "Transitions shipment status from IN_TRANSIT to DELIVERED. Driver or admin only.",
        "tags": ["Shipments"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment delivered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Shipment delivered successfully"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "shipment": {
                          "$ref": "#/components/schemas/Shipment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status transition"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - Driver or admin access required"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/api/v1/shipments/{shipmentId}/rating": {
      "post": {
        "summary": "Rate a delivered shipment",
        "description": "Allows a user to rate a delivered shipment. Each shipment can only be rated once.",
        "tags": ["Shipments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["rating"],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5,
                    "example": 4
                  },
                  "comment": {
                    "type": "string",
                    "maxLength": 500,
                    "example": "Great service, fast delivery!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "rating": { "$ref": "#/components/schemas/Rating" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Shipment is not delivered yet" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Shipment not found" },
          "409": { "description": "Shipment already rated" }
        }
      }
    },
    "/api/v1/payments/shipments/{shipmentId}": {
      "post": {
        "summary": "Initiate payment for a shipment",
        "description": "Creates a new payment record for a shipment. Each shipment can only have one payment.",
        "tags": ["Payments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["method"],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": ["card", "bank_transfer"],
                    "example": "card"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payment": { "$ref": "#/components/schemas/Payment" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Shipment not found" },
          "409": { "description": "Payment already exists for this shipment" }
        }
      }
    },
    "/api/v1/payments/{paymentId}/status": {
      "patch": {
        "summary": "Update payment status",
        "description": "Updates a pending payment to 'success' or 'failed'. Only pending payments can be updated.",
        "tags": ["Payments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "paymentId",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status"],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["success", "failed"],
                    "example": "success"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payment": { "$ref": "#/components/schemas/Payment" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Only pending payments can be updated" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Payment not found" }
        }
      }
    },
    "/api/v1/payments/{paymentId}/receipt": {
      "patch": {
        "summary": "Upload payment receipt",
        "description": "Uploads a receipt URL for a bank transfer payment. Only applicable to bank_transfer payments.",
        "tags": ["Payments"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "paymentId",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["receiptUrl"],
                "properties": {
                  "receiptUrl": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://storage.example.com/receipts/abc123.pdf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "payment": { "$ref": "#/components/schemas/Payment" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Receipt upload only allowed for bank transfer payments" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Payment not found" }
        }
      }
    },
    "/api/v1/invoices/shipments/{shipmentId}": {
      "post": {
        "summary": "Create or fetch invoice for a shipment",
        "tags": ["Invoices"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Existing invoice returned successfully"
          },
          "201": {
            "description": "Invoice created successfully"
          },
          "400": {
            "description": "Invalid shipment ID"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/api/v1/invoices/shipments/{shipmentId}/download": {
      "get": {
        "summary": "Download invoice PDF for a shipment",
        "tags": ["Invoices"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shipmentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice PDF downloaded successfully",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Invalid shipment ID"
          },
          "404": {
            "description": "Shipment not found"
          }
        }
      }
    },
    "/api/v1/drivers": {
      "post": {
        "summary": "Create driver profile (onboard)",
        "description": "Creates a new driver profile for an existing user with role 'driver'. Admin only.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["userId", "licenseNumber", "licenseExpiry", "vehicleType"],
                "properties": {
                  "userId": {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{24}$",
                    "example": "507f1f77bcf86cd799439011",
                    "description": "ID of an existing user with role 'driver'"
                  },
                  "licenseNumber": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 30,
                    "example": "DL-12345"
                  },
                  "licenseExpiry": {
                    "type": "string",
                    "format": "date",
                    "example": "2028-12-31",
                    "description": "Must be a future date"
                  },
                  "vehicleType": {
                    "type": "string",
                    "enum": ["motorcycle", "car", "van", "truck"],
                    "example": "car"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Driver profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "driverProfile": { "$ref": "#/components/schemas/DriverProfile" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "User is not a driver" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" },
          "404": { "description": "User not found" },
          "409": { "description": "Driver profile already exists" }
        }
      },
      "get": {
        "summary": "List all drivers",
        "description": "Returns a paginated list of all driver profiles. Admin only.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "query",
            "name": "isAvailable",
            "required": false,
            "schema": { "type": "boolean" },
            "description": "Filter by availability status"
          },
          {
            "in": "query",
            "name": "vehicleType",
            "required": false,
            "schema": { "type": "string", "enum": ["motorcycle", "car", "van", "truck"] },
            "description": "Filter by vehicle type"
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": { "type": "integer", "default": 10, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Driver list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "results": { "type": "integer", "example": 5 },
                    "data": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer", "example": 20 },
                        "page": { "type": "integer", "example": 1 },
                        "limit": { "type": "integer", "example": 10 },
                        "drivers": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/DriverProfile" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" }
        }
      }
    },
    "/api/v1/drivers/me": {
      "get": {
        "summary": "Get own driver profile",
        "description": "Returns the authenticated driver's profile. Driver only.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Driver profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "driverProfile": { "$ref": "#/components/schemas/DriverProfile" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Driver access required" },
          "404": { "description": "Driver profile not found" }
        }
      }
    },
    "/api/v1/drivers/me/availability": {
      "patch": {
        "summary": "Update own availability",
        "description": "Allows a driver to toggle their availability status. Driver only.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["isAvailable"],
                "properties": {
                  "isAvailable": {
                    "type": "boolean",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "driverProfile": { "$ref": "#/components/schemas/DriverProfile" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Driver access required" },
          "404": { "description": "Driver profile not found" }
        }
      }
    },
    "/api/v1/drivers/{driverProfileId}": {
      "get": {
        "summary": "Get a driver profile",
        "description": "Returns a specific driver profile by ID. Admin only.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "driverProfileId",
            "required": true,
            "schema": { "type": "string" },
            "description": "Driver profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Driver profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "driverProfile": { "$ref": "#/components/schemas/DriverProfile" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" },
          "404": { "description": "Driver profile not found" }
        }
      },
      "patch": {
        "summary": "Update a driver profile",
        "description": "Updates a driver profile. Admin only.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "driverProfileId",
            "required": true,
            "schema": { "type": "string" },
            "description": "Driver profile ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "licenseNumber": {
                    "type": "string",
                    "minLength": 5,
                    "maxLength": 30,
                    "example": "DL-67890"
                  },
                  "licenseExpiry": {
                    "type": "string",
                    "format": "date",
                    "example": "2029-06-30"
                  },
                  "vehicleType": {
                    "type": "string",
                    "enum": ["motorcycle", "car", "van", "truck"],
                    "example": "van"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Driver profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "driverProfile": { "$ref": "#/components/schemas/DriverProfile" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" },
          "404": { "description": "Driver profile not found" }
        }
      },
      "delete": {
        "summary": "Delete a driver profile",
        "description": "Soft-deletes a driver profile and deactivates associated vehicles. Admin only.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "driverProfileId",
            "required": true,
            "schema": { "type": "string" },
            "description": "Driver profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Driver profile deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "message": { "type": "string", "example": "Driver profile deleted successfully" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" },
          "404": { "description": "Driver profile not found" }
        }
      }
    },
    "/api/v1/drivers/{userId}/metrics": {
      "get": {
        "summary": "Get driver performance metrics",
        "description": "Returns aggregated performance metrics for a driver (total assigned, delivered, cancelled, active shipments). Admin or the driver themselves.",
        "tags": ["Drivers"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": { "type": "string" },
            "description": "User ID of the driver"
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "totalAssigned": { "type": "integer", "example": 25 },
                            "delivered": { "type": "integer", "example": 20 },
                            "cancelled": { "type": "integer", "example": 2 },
                            "inTransit": { "type": "integer", "example": 1 },
                            "pickedUp": { "type": "integer", "example": 1 },
                            "assigned": { "type": "integer", "example": 1 },
                            "activeShipments": { "type": "integer", "example": 3 }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin or driver access required" },
          "404": { "description": "Driver not found" }
        }
      }
    },
    "/api/v1/vehicles": {
      "post": {
        "summary": "Create a vehicle",
        "description": "Registers a new vehicle for a driver. Admin only.",
        "tags": ["Vehicles"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["driverProfileId", "plateNumber", "make", "vehicleModel", "year", "color", "type"],
                "properties": {
                  "driverProfileId": {
                    "type": "string",
                    "pattern": "^[0-9a-fA-F]{24}$",
                    "example": "507f1f77bcf86cd799439011"
                  },
                  "plateNumber": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 15,
                    "example": "LAG-123AB"
                  },
                  "make": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50,
                    "example": "Toyota"
                  },
                  "vehicleModel": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50,
                    "example": "Camry"
                  },
                  "year": {
                    "type": "integer",
                    "minimum": 1990,
                    "example": 2022
                  },
                  "color": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 30,
                    "example": "White"
                  },
                  "type": {
                    "type": "string",
                    "enum": ["motorcycle", "car", "van", "truck"],
                    "example": "car"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vehicle created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicle": { "$ref": "#/components/schemas/Vehicle" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" },
          "404": { "description": "Driver profile not found" }
        }
      }
    },
    "/api/v1/vehicles/driver/{driverProfileId}": {
      "get": {
        "summary": "List vehicles for a driver",
        "description": "Returns all active vehicles for a driver profile. Admin or driver.",
        "tags": ["Vehicles"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "driverProfileId",
            "required": true,
            "schema": { "type": "string" },
            "description": "Driver profile ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicles retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "results": { "type": "integer", "example": 2 },
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicles": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Vehicle" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin or driver access required" }
        }
      }
    },
    "/api/v1/vehicles/{vehicleId}": {
      "get": {
        "summary": "Get a vehicle",
        "description": "Returns a specific vehicle by ID. Admin or driver.",
        "tags": ["Vehicles"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "vehicleId",
            "required": true,
            "schema": { "type": "string" },
            "description": "Vehicle ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicle": { "$ref": "#/components/schemas/Vehicle" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin or driver access required" },
          "404": { "description": "Vehicle not found" }
        }
      },
      "patch": {
        "summary": "Update a vehicle",
        "description": "Updates vehicle details. Admin only.",
        "tags": ["Vehicles"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "vehicleId",
            "required": true,
            "schema": { "type": "string" },
            "description": "Vehicle ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plateNumber": { "type": "string", "example": "LAG-456CD" },
                  "make": { "type": "string", "example": "Honda" },
                  "vehicleModel": { "type": "string", "example": "Civic" },
                  "year": { "type": "integer", "example": 2023 },
                  "color": { "type": "string", "example": "Black" },
                  "type": { "type": "string", "enum": ["motorcycle", "car", "van", "truck"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vehicle updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "vehicle": { "$ref": "#/components/schemas/Vehicle" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" },
          "404": { "description": "Vehicle not found" }
        }
      },
      "delete": {
        "summary": "Delete a vehicle",
        "description": "Soft-deletes a vehicle. Admin only.",
        "tags": ["Vehicles"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "in": "path",
            "name": "vehicleId",
            "required": true,
            "schema": { "type": "string" },
            "description": "Vehicle ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Vehicle deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "message": { "type": "string", "example": "Vehicle deleted successfully" }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden - Admin access required" },
          "404": { "description": "Vehicle not found" }
        }
      }
    },
    "/api/v1/admin/auth/register": {
      "post": {
        "tags": ["Admin"],
        "summary": "Register a new admin",
        "description": "Creates a new admin user account. Only one admin can exist in the system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["fullName", "email", "password", "confirmPassword", "phoneNumber"],
                "properties": {
                  "fullName": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 30,
                    "example": "Admin User"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "admin@pickup.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9]{8,30}$",
                    "example": "AdminSecurePass123",
                    "description": "Password must be 8-30 characters and contain only letters and numbers"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "format": "password",
                    "example": "AdminSecurePass123"
                  },
                  "phoneNumber": {
                    "type": "string",
                    "pattern": "^\\+[1-9][0-9]{6,14}$",
                    "example": "+1234567890"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["customer", "business", "admin", "driver"],
                    "default": "admin",
                    "example": "admin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Admin created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "Success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Admin Created Successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error - Admin already exists, passwords don't match, or invalid input"
          }
        }
      }
    },
    "/api/v1/admin/auth/login": {
      "post": {
        "tags": ["Admin"],
        "summary": "Login admin",
        "description": "Authenticates an admin user and returns JWT token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
[...]
